body {
	background-color:black;
}
.recorder {
	position: fixed;
	top: 32%;
	left: 10%;
}
.recorder img{
	height: 350px;
	width: 420px;
	border-style: rounded;
	border-radius: 350px;
}
.border1 {
	position: fixed;
	top: 3%;
	left: 1%;
	border: 1px solid white;
	height: 130px;
	width: 1330px;
}
.border2 {
	position: fixed;
	top: 25%;
	left: 49%;
	height: auto;
	width: 680px;
	border: 1px solid transparent;
}
.border2 a {
	text-decoration: none;
	border: 1px double white;
	display: block;
	color: white;
	text-align: left;
	margin: 10px 5px;
	font-size: 22px;
	padding: 10px;
}
.border2 header a {
	background-color: white;
	color: black;
}
.border2 a:hover {
	color: black;
	background-color: white;
}
audio {
	position: fixed;
	top: 88%;
	left: 5%;
	height: 30px;
	width: 530px;
}
.Elogo {
	position: fixed;
	bottom: 72%;
	left: 1%;
}
.Elogo img {
	height: 200px;
	width: 200px;
}
.logo {
	position: fixed;
	bottom: 72%;
	left: 40%;
}
.logo img {
	height: 200px;
	width: 200px;
}
.otherlogo {
	position: fixed;
	bottom: 72%;
	right: 4%;
}
.otherlogo img {
	height: 200px;
	width: 300px;
}